@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --primary: #147b74;
  --primary-light: #3cb4ac;
  --black: #000000;
  --gray: #7a7a7a;
  --gray-light: #eeeeee;
  --radius: 10px;
  --container-width: 700px;
}
body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background: #fafafa;
  color: var(--black);
  line-height: 1.8;
}
.title {
  line-height: 1.3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}
button:focus {
  outline: none;
}
.text-xs {
  font-size: 14px;
}
.text-primary {
  color: var(--primary-light);
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.text-gray {
  color: var(--gray);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.wrapper {
  position: relative;
  max-width: var(--container-width);
  margin: -80px auto 50px auto;
  padding: 0 15px;
}
.wrapper > * + * {
  margin-top: 25px;
}
.main-div {
  border-radius: var(--radius);
  background: #fff;
  padding: 30px;
  border: 1px solid var(--gray-light);
}
.btn {
  height: 50px;
  padding: 0 30px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 0.4px;
  position: relative;
}
.btn.btn-default {
  background: var(--primary-light);
  color: #fff;
  transition: background 0.25s ease;
}
.btn.btn-default:hover {
  background: var(--primary);
}
.btn.btn-gray {
  color: var(--gray);
  background: var(--gray-light);
}
.btn.btn-icon {
  padding-left: 65px;
}
.btn.btn-icon .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #2f2f2f;
  color: #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.377);
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal {
  z-index: 30;
  width: 100%;
  max-width: var(--container-width);
  padding: 50px 15px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--gray);
  cursor: pointer;
}
@media (min-width: 700px) {
  .main-div {
    padding: 40px;
  }
  .wrapper {
    margin-top: -150px;
  }
}

/* START OF NAV  */
nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}
nav .nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-menu {
  display: none;
}
nav .nav-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  align-items: center;
  color: #fff;
}
nav .nav-menu ul li {
  cursor: pointer;
}
nav .nav-menu ul > * + * {
  margin-left: 25px;
}
nav .menu-opener-btn {
  color: #fff;
}
@media (min-width: 768px) {
  nav .menu-opener-btn {
    display: none;
  }
  nav .nav-menu {
    display: block;
  }
}
/* END OF NAV  */

/* START OF HERO */
.hero-header {
  width: 100%;
  height: 380px;
}
.hero-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* END OF HERO  */

/* Project Header*/
.project-header {
  padding-top: 50px;
}
.project-header > h1 {
  font-size: 28px;
}
.project-header > p {
  margin: 15px 0 35px 0;
}
.project-header .project-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}
.project-header .actions .btn-gray span {
  display: none;
}
.project-header .actions .btn-gray {
  padding: 0;
  width: 50px;
  flex: none;
}
.project-header .actions .btn-default {
  margin-right: 10px;
}
@media (min-width: 700px) {
  .project-header .actions .btn-gray span {
    display: block;
  }
  .project-header .actions .btn-gray {
    padding: 0 30px 0 65px;
    width: auto;
  }
}

/* PROJECT META DATA */
.project-metadata-grid {
  display: grid;
  margin-bottom: 35px;
}
.project-metadata-grid > * + * {
  border-top: 1px solid #7a7a7a65;
  padding: 20px 0;
}
.project-metadata-grid > div:first-child {
  padding-bottom: 20px;
}
.project-metadata-grid > div:last-child {
  padding-bottom: 0;
}
.project-metadata-grid p {
  font-size: 35px;
  font-weight: 700;
}
.project-metadata-grid span {
  display: block;
}
.project-progress {
  position: relative;
  height: 12px;
  border-radius: var(--radius);
  background: var(--gray-light);
  overflow: hidden;
}
.project-progress .project-progress-amount {
  background: var(--primary-light);
  height: 100%;
  width: 90%;
}

@media (min-width: 700px) {
  .project-metadata-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-metadata-grid > div:first-child {
    padding-bottom: 0;
  }
  .project-metadata-grid > * + * {
    border-top: 0;
    border-left: 1px solid #7a7a7a65;
    padding: 0 0 0 45px;
  }
}

/* Project Details */
.project-details > p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.project-details .sub-points span {
  display: block;
  font-size: 16px;
  margin-bottom: 25px;
}

/* PRODUCT CARD */
.products-wrapper > * + * {
  margin-top: 20px;
}
.product {
  padding: 30px;
  border-radius: var(--radius);
  border: 1px solid var(--gray-light);
}
.product .product-extras,
.product .product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .product-header p {
  font-size: 18px;
  font-weight: 700;
}
.product .product-detail {
  margin-top: 10px;
}
.product .product-extras p {
  font-size: 35px;
  font-weight: 700;
}
.product .product-extras span {
  padding-left: 10px;
}

/* BACKUP PROJECT */
.back-project-modal {
  overflow-y: auto;
}
.back-project-modal > p {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.back-project-modal > span {
  display: block;
}

/* DONATION CARD  */
.donate-card {
  margin-top: 20px;
  border-radius: var(--radius);
  border: 2px solid var(--gray-light);
  cursor: pointer;
  transition: border-color 0.25s ease;
}

.donate-card .checkbox-wrapper {
  margin-top: 5px;
}
.donate-card .checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--gray-light);
  position: relative;
  transition: border-color 0.25s ease;
}
.donate-card .checkbox::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
}
.donate-card .donate-card-body {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
}
.donate-card .donate-card-body p {
  font-weight: 700;
  font-size: 18px;
  padding-right: 10px;
}
.donate-card .card-content {
  grid-column: span 3;
}
.donate-card .card-title {
  grid-column: span 2;
}
.donate-card .card-title p {
  padding-right: 0;
  transition: color 0.25s ease;
}
.donate-card .card-extras {
  grid-row: 3;
  grid-column: span 2;
}
.donate-card-actions {
  padding: 20px 30px;
  border-top: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.donate-card-actions p {
  margin-bottom: 15px;
}
.donate-card-input input {
  border: none;
  background: none;
  padding: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 50px;
  height: 50px;
  padding-left: 20px;
  width: 100px;
  text-align: center;
  font-weight: 700;
  transition: 0.25s ease;
  font-family: inherit;
  -moz-appearance: textfield;
}
.donate-card-input input::-webkit-outer-spin-button,
.donate-card-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate-card-input input:focus {
  outline: none;
  border-color: var(--primary-light);
}
.donate-card-input svg {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: var(--gray-light);
}
.donate-card .action-btns {
  flex-direction: column;
}
.donate-card-input {
  margin-bottom: 10px;
}

.dontate-card-selected {
  cursor: initial;
}
.donate-card:hover:not(.dontate-card-selected) .checkbox {
  border-color: var(--primary-light);
}
.donate-card:hover .card-title p,
.dontate-card-selected .card-title p {
  color: var(--primary-light);
}
.dontate-card-selected {
  border-color: var(--primary-light);
}
.dontate-card-selected .checkbox::after {
  background: var(--primary-light);
}

@media (min-width: 350px) {
  .donate-card .action-btns {
    flex-direction: row;
  }
  .donate-card-input {
    margin: 0 10px 0 0;
  }
}

@media (min-width: 768px) {
  .donate-card-actions p {
    margin-bottom: 0;
  }
  .donate-card-actions {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .donate-card .card-title {
    grid-column: span 1;
    display: flex;
    align-items: center;
  }
  .donate-card .card-title p {
    padding-right: 10px;
  }
  .donate-card .card-content {
    grid-column: 2/4;
  }
  .donate-card .card-extras {
    grid-row: 1;
    grid-column: 3;
  }
}

.success-popup-root {
  max-width: 550px;
}

.success-popup p {
  font-size: 25px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.success-popup .content {
  margin-bottom: 30px;
}
